tensorflow==2.21.0
keras==3.12.3

numpy==2.2.6

fastapi==0.139.0
uvicorn==0.51.0

opencv-python-headless==5.0.0.93
Pillow==12.3.0

pydantic==2.13.4
pydantic-settings==2.14.2

python-multipart==0.0.32

